.publication {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: $moma-black;
  flex-direction: column;
  justify-content: center;
  font-family: 'Rubik', sans-serif;

  @include mobile {
    width: auto;
    margin: 15px 15px 0 20px;
    font-size: 14px;
  }

  .publication-title {
    border-left: 4px solid $moma-light-green;
    margin-bottom: 30px;
  }

  .publication-moma-img {
    width: 200px;
  }

  .publication-moma-title {
    font-weight: 600;
    @include mobile {
      margin-top: 20px;
    }
  }

  .publication-button {
    @include mobile {
      font-size: 14px;
    }
  }


}
